.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}
.Counter{
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  align-items: center;
}
.Counter button{
  border-radius: 50px;
  padding: 8px 16px;
  font-weight: 400;
}